.snipcart-button-primary,
.snipcart-cart__footer-checkout {
  background: var(--snipcart-button) !important;
  color: var(--snipcart-button-text) !important;
  border-radius: 12px !important;
  font-weight: 600 !important;
  transition: background 0.2s;
  box-shadow: 0 2px 12px 0 #eebbc377;
}
.snipcart-button-primary:hover,
.snipcart-cart__footer-checkout:hover {
  background: #f1e3e4 !important;
  color: #232946 !important;
}
