/* Możesz zostawić pusty, jeśli wszystko masz w global.css */

.snipcart {
  --color-primary: #232946;
  --color-secondary: #eebbc3;
  --color-success: #eebbc3;
  --color-default: #232946;
  --font-family: 'Inter', 'Montserrat', system-ui, sans-serif;
}

.snipcart__box {
  border-radius: 18px !important;
  box-shadow: 0 2px 18px #23294615;
}
