---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="Kontakt – Kreatynka">
  <section class="max-w-3xl mx-auto py-12 px-4">
    <h1 class="text-3xl font-bold mb-4 text-[#232946]">Kontakt</h1>
    <p class="mb-2 text-[#232946]">
      Masz pytanie, propozycję współpracy lub chcesz się z nami skontaktować?
    </p>
    <ul class="mb-6 text-[#232946]">
      <li><b>Email:</b> <a href="mailto:kontakt@kreatynka.pl" class="text-[#eebbc3] underline">kontakt@kreatynka.pl</a></li>
      <li><b>Telefon:</b> <a href="tel:600123456" class="text-[#eebbc3] underline">600 123 456</a></li>
    </ul>
    <p class="mb-4 text-[#232946]">
      Odpowiadamy zazwyczaj w ciągu 24 godzin. Zapraszamy również do śledzenia nas w mediach społecznościowych!
    </p>
    <a href="/" class="text-[#eebbc3] underline">Powrót do strony głównej</a>
  </section>
</BaseLayout>
